@model EconomizeMais.tbUsuario

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuários</title>
</head>
<body>
    <div class="container-fluid">
        @*<div class="card-header">
            <i class="fa fa-table"></i> <center> <h3>Cadastro de Usuários</h3> </center>
        </div>
        <p>
            @Html.ActionLink("Novo", "Create")
        </p>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1" border="1">
                    <thead>
                        <tr>
                            <td align="left">
                                <b>Estabelecimento</b>
                            </td>
                            <td align="left">
                                <b>Nome</b>
                            </td>
                            <td align="left">
                                <b>Usuário</b>

                            </td>
                            <td align="left">
                                <b>Ações</b>

                            </td>
                        </tr>

                       
                            <tr>
                                <td width="200" height="80">
                                    @Html.DisplayFor(modelItem => modelItem.tbEstab.Nome)
                                </td>
                                <td width="200" height="80">
                                    @Html.DisplayFor(modelItem => modelItem.nome)
                                </td>
                                <td width="200" height="80"> 
                                    @Html.DisplayFor(modelItem => modelItem.usuario)
                                </td>
                                <td>
                                    @Html.ActionLink("Alterar", "Edit", new { id = Model.usuario, Estab = Model.estab }) |
                                    @Html.ActionLink("Detalhar", "Details", new { id = Model.usuario, Estab = Model.estab }) |
                                    @Html.ActionLink("Excluir", "Delete", new { id = Model.usuario, Estab = Model.estab })
                                </td>
                            </tr>
                        

                </table>
</body>
</html>
