@model EconomizeMais.tbPromocao

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhar</title>
</head>
<body>

    <div class="form-horizontal">
        <h4>Promoção</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.estab)
        @Html.HiddenFor(model => model.produto)
        @Html.HiddenFor(model => model.inicio.Date)
        @Html.HiddenFor(model => model.fim.Date)


        <b>Estabelecimento:</b>
        <br />
        @Html.DisplayFor(model => model.tbEstab.nome)

        <br />
        <br />
        <b>Produto:</b>
        <br />
        @Html.DisplayFor(model => model.tbProduto.descricao)

        <br />
        <br />
        <b>Início:</b>
        <br />
        @Html.DisplayFor(model => model.inicio.Date)

        <br />
        <br />
        <b>Fim:</b>
        <br />
        @Html.DisplayFor(model => model.fim.Date)

        <br />
        <br />
        <b>Preço:</b>
        <br />
        @Html.DisplayFor(model => model.preco)

        <br />
        <br />
        <b>Promoção:</b>
        <br />
        @Html.DisplayFor(model => model.promocao)

        <br />
        <br />
        <b>Prioridade:</b>
        <br />
        @Html.DisplayFor(model => model.prioridade)

        <br />
        <br />

    </div>
    <p>
        @Html.ActionLink("Alterar", "Edit", new { id = Model.produto, estab = Model.estab, inicio = Model.inicio.Date, fim = Model.fim.Date }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>