@model EconomizeMais.tbProdutos

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir</title>
</head>
<body>
        <h3>Deseja realmente excluir o registro?</h3>

        <div class="form-horizontal">

            <h4>Produto</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Codigo)

            <b>Mercado:</b>
            <br />
            @Html.DisplayFor(model => model.tbFabricante.Nome)

            <br />
            <br />
            <b>Código:</b>
            <br />
            @Html.DisplayFor(model => model.Codigo)

            <br />
            <br />
            <b>Descrição:</b>
            <br />
            @Html.DisplayFor(model => model.Descricao)

            <br />
            <br />

            <b>Imagem:</b>
            @if (Model.Imagem != null)
            {
               
                <img src="@Url.Action("ExibirImagem","Arquivo", new { id =Model.Codigo })" width="150" height="150" />
                
            }
            else
            {
              
                <img src="~/Imagens/semimagem.jpg" width="150" height="150" />
               
            }

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <input type="submit" value="Excluir" class="btn btn-default" />
            <br />
            <br />
            @Html.ActionLink("Voltar", "Catalogo");

        }
    
</body>
</html>
