@model EconomizeMais.tbEstab

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir</title>
</head>
<body>
    <h3>Deseja realmente excluir o registro?</h3>

    <div class="form-horizontal">

        <h4>Estabelecimento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Codigo)

        <b>Nome:</b>
        <br />
        @Html.DisplayFor(model => model.Nome)

        <br />
        <br />
        <b>Rua:</b>
        <br />
        @Html.DisplayFor(model => model.Rua)

        <br />
        <br />
        <b>Nro:</b>
        <br />
        @Html.DisplayFor(model => model.Nro)

        <br />
        <br />

        <b>Bairro:</b>
        <br />
        @Html.DisplayFor(model => model.Bairro)

        <br />
        <br />

        <b>Tipo:</b>
        <br />
        @Html.DisplayFor(model => model.TipoEst)

        <br />
        <br />

        <b>Municipio:</b>
        <br />
        @Html.DisplayFor(model => model.Municipio)

        <br />
        <br />

    </div>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <input type="submit" value="Excluir" class="btn btn-default" />
        <br />
        <br />
            @Html.ActionLink("Voltar", "Index");

    }
    </div>
</body>
</html>
